.tabs-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-wrap li{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #fff;
  color: #fff;
  background: #000;
  cursor: pointer;
}
.tabs-wrap li.active{
  color: #000;
  background: #fff;
}
.tabs-wrap li:first-child{
  border-radius: 5px 0 0 0;
}
.tabs-wrap li:last-child{
  border-radius: 0 5px 0 0;
}
